@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
/*最大边框*/
.wrapperMI {
	position: relative;
	padding: .9rem 0 1.47rem 0;
	box-sizing: border-box;
	width: 7.5rem;
	height: auto;
}
/*内容区域*/
.contentWrapMI {
	width: 7.5rem;
	height: auto;
}
/*public 红色*/
.publicRed {
	color: ##f15a4a;
}
/*隔开上下box height：.02rem;*/
.publicSeptum {
	width: 7.5rem;
	height: .2rem;
}
/*title 提示*/
.publicTips {
	padding: .35rem 0 0 .3rem;
	box-sizing: border-box;
	width: 7.5rem;
	height: .82rem;
	font: .27rem/.27rem "微软雅黑";
	color: #b7b7b7;
	letter-spacing: .02rem;
}

.publicWrap {
	width: 7.5rem;
	height: auto;
	background-color: #fff;
}
/* 项 */
.publicTerm {
	position: relative;
	margin: 0 auto;
	padding-top: .21rem;
	box-sizing: border-box;
	width: 6.9rem;
	height: 1.12rem;
	/**border-bottom: .02rem solid #ddd;**/
}
/*最后一个元素，必须是兄弟元素*/
/*.publicTerm:last-child {
	border-bottom: none;
}*/
/*底部线条width:6.9rem*/
.publicBottomLIne:after {
	content: " ";
	width: 6.9rem;
	height: .02rem;
	border-bottom: .02rem solid #ddd;
	position: absolute;
	bottom: 0;
	left: 0;
}
/*左*/
.publicTermL {
	float: left;
	width: 1.79rem;
	height: .7rem;
	font: .3rem/.7rem "微软雅黑";
	letter-spacing: .02rem;
	color: #666;
}
/*右*/
.publicTermR {
	float: left;
	width: 5.1rem;
	height: .7rem;
	font-size: .27rem;
}
/*输入的信息 input*/
.publicInput {
	outline: none;
	border: none;
	width: 5rem;
	height: .7rem;
	font: .27rem/.7rem "微软雅黑";
	letter-spacing: .02rem;
	color: #666;
	background-color: #fff;
}
/*inout的提示文字 样式修改*/
.publicInput::-webkit-input-placeholder { /* WebKit browsers */ 
	color: #c6c6c6; 
	font-size: .24rem;
	font-family: "微软雅黑";
	letter-spacing: .02rem;
} 
.publicInput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
	color: #c6c6c6; 
	font-size: .24rem;
	font-family: "微软雅黑";
	letter-spacing: .02rem;
} 
.publicInput::-moz-placeholder { /* Mozilla Firefox 19+ */ 
	color: #c6c6c6; 
	font-size: .24rem;
	font-family: "微软雅黑";
	letter-spacing: .02rem;
} 
.publicInput:-ms-input-placeholder { /* Internet Explorer 10+ */ 
	color: #c6c6c6; 
	font-size: .24rem;
	font-family: "微软雅黑";
	letter-spacing: .02rem;

}
/*提示 text*/
.tipsText {
	padding-left: .3rem;
	box-sizing: border-box;
	width: 7.5rem;
	height: .7rem;
	font: .27rem/.7rem "微软雅黑";
	color: #b7b7b7;
	letter-spacing: .02rem;
}


/*确定按钮 wrap*/
.determineWrapMI {
	clear: both;
	padding-top: 1rem;
	box-sizing: border-box;
	width: 7.5rem;
	height: auto;
}
.determineMI {
	margin: 0 auto;
	width: 6.9rem;
	height: .91rem;
	font: .28rem/.91rem "微软雅黑";
	text-align: center;
	color: #fff;
    letter-spacing: .02rem;
    border-radius: .07rem;
	background-color: #fc5c14;
}


